@tailwind base;
@tailwind components;
@tailwind utilities;

main::-webkit-scrollbar {
  display: none;
}

.pages {
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.pages .page {
  height: 100vh;
  scroll-snap-align: center;
}
